.rodapie__socialMedia{
    padding-left: 30%;
    padding-right: 20%;

}        
.rodapie__titulo{
    font-size: .8rem;
    margin:1rem;
    color: #000000;
    font-weight: 700;
    margin-top: 2rem;
    text-align: center;
}
.rodapie__socialMedia__lista{
    display: inline;
    margin:1rem;
    font-size: .8rem;
    font-weight: 700;
}

.rodapie__socialMedia__img{
    width: 40px;
    height: auto;
    border: 1px solid #ffffff;
    border-radius: 100%;
    margin-right: .5rem;

}
.rodapie__socialMedia__link{
    text-decoration: none;
    
}
.rodapie__socialMedia__img:hover{
    cursor: pointer;
}